.Item{
    border: 1px black solid;
    background-color:blanchedalmond;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    
}
.imgCard{
    margin: auto;
    width: 70%;
    height: 40%;
}
.btnDetalle{
    text-decoration:none;
    text-transform: uppercase;
    color: black;
}